# Caffe Models
*.caffemodel*

# Solver States
*.solverstate

# Python
*.pyc
*~

# Images
*.png

# Data
*.hdf5

#others
*.ogv
*.bak
*.npy
*.txt
.ipynb_checkpoints/*
toycar_data
toycar_labels
toycar_data_100sample
toycar_labels_100sample
temp
